* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#hana-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-text {
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    color: #333;
}

button.navigation-button {
    margin: 0px auto;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ff79b0;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button.navigation-button:hover {
    background-color: #e8619b;
}
