* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#post-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.post {
    width: 600px;

    padding: 20px;
    margin: 20px;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
